
body{
  background-color: #b1987a;
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Chewy",  Helvetica, Arial, sans-serif;
}
.main{
  border: solid, 4px, purple;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top:  -200px;
}
.moves, .messages{
  border: solid, 2px, blue;
}

.moves{
  display: flex;
  gap: 100px;
}
.move_displays{
  display: flex;  
  justify-content: space-evenly;
}
.move_display{
  display: flex;
  flex-direction: column;
  width: 125px;
}
#computer_move_text_display{
  width: 300px;
}
