
body{
  background-color: #333F48;
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Chewy",  Helvetica, Arial, sans-serif;
  color: #ECEFF1;
}
.main{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top:  -200px;
}

.main > div{
  border-left: solid 2px #A8A9AD;
  border-right: solid 2px #A8A9AD;
  border-top: solid 2px #A8A9AD;
}
.messages{
  border-bottom: solid 2px #A8A9AD;
}
.moves{
  display: flex;
  gap: 100px;
}
.move_displays{
  display: flex;  
  justify-content: space-evenly;
}
.move_display{
  display: flex;
  flex-direction: column;
  width: 125px;
}
#computer_move_text_display{
  width: 300px;
}
.score-board{
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4em;
}

